
# Hashicorp vault connection.
VAULT_ADDR =
VAULT_TOKEN =
VAULT_MOUNT = secret

# If specified, use a local vault mock instead of making requests to vault.
VAULT_LOCAL_MOCK =

# API Access token for endpoints.
API_ACCESS_TOKEN =

# Collections used in EPDW integration.
QA_COLLECTION = "benchmark_executions"
QA_COLLECTION_ITER = "benchmark_iterations"

