fastapi
uvicorn[standard]
pymongo
hvac
cryptography
pynacl
base58
requests
certifi
redis
python-multipart
motor==3.5.1  # optional: for async MongoDB (if you go async later)
urllib3==2.6.0
pydantic==2.9.2
python-jose[cryptography]==3.4.0  # for JWT handling (used in utils)
pyjwt==2.9.0
structlog==24.4.0  # optional, but recommended
aiohttp
python-dotenv
pyld>=2.0.4
